@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", "serif";
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.promo {
  background-image: url("./images/Background.jpg");
  height: 800px;
}

.promo__subtitle {
  font-size: 48px;
  font-weight: 700;
  max-width: 532px;
  margin: 0;
}

.promo__title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 130px;
  left: -30px;
  position: relative;
  z-index: 1;
}

.promo__title::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #ffa501;
  border-radius: 50%;
  position: relative;
  top: 12px;
  left: 23px;
  z-index: -1;
}

.promo__buttons {
  margin-top: 25px;
}

.promo__button {
  display: inline-block;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-decoration-line: none;
}

.promo__button--yellow {
  background-color: #ffa501;
}

.social-media {
  position: relative;
  top: 366px;
  left: -105px;
  display: flex;
  align-items: center;
  transform: rotate(270deg);
  width: 338px;
  justify-content: space-between;
}

.social-media__title {
  font-size: 16px;
  font-weight: 700;
}

.icons {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.social-media__line {
  border: 1px solid black;
  height: 0px;
  width: 70px;
}

.burger-menu__button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: end;
}

.burger-menu__button__line {
  height: 3px;
  background-color: black;
}

.burger-menu__button__line:nth-child(1),
.burger-menu__button__line:nth-child(3) {
  width: 30px;
}

.burger-menu__button__line:nth-child(2) {
  width: 36px;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: -400px;
  width: 345px;
  height: 100%;
  background-color: #ffa501;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 25px;
}

.burger-menu.active {
  left: 0;
  box-shadow: 400px 0 0 2000px rgba(255, 255, 255, 0.75);
}

.burger-menu__close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  border: 0;
}

.burger-menu__close-button:hover {
  cursor: pointer;
}

.burger-menu__list {
  list-style-type: circle;
  padding: 0;
  margin-left: 55px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 130px;
}

.burger-menu__list li {
  margin: 15px 0;
}

.burger-menu__list a {
  color: white;
  text-decoration: none;
}

.burger-menu__icons {
  justify-content: center;
  margin-top: 450px;
}
